{% extends "base.html.twig" %}

{% block title %}Réinitialisation du mote de passe {% endblock %} 
 
{% block body %}

<div class="block">
    <h3 class="mb-20">Réinitialisez votre mot de passe</h1>
    {{ form_start(form) }}
    {{ form_rest(form) }}

    <button type="submit" class="btn btn-primary">Réinitialiser</button>
    {{ form_end(form) }}
    
</div>


{% endblock %}
