html{
    font-family: 'Open Sans, sans-serif';
}

a{
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    margin-top: 20px;
    background-color: #12CBC4;
    border-radius: 3px;

}


