/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none; 
}

small{
    font-size: var(--font-size-small);
    font-family: var(--font-family);
    color: var(--gray);
    opacity: 0.8;
}

input[type="file"]{width:100%;}

.text-small{font-size: var(--font-size-small);}

ul{list-style: none;}

h1,h2,h3{
    color: var(--color-dark);
    font-weight: 700;
}

body{
    min-height: 100vh;
    font-family: var(--font-family);
    color: var(--color);
}