<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>LD Prestige le spécialiste des jantes alu et des pneumatiques</title>
</head>

<body style="background-color:rgb(255,255,255);">
<table width="750px" border="0" cellpadding="0" cellspacing="0" align="center" >
    <tr>
        <td>
            <table width="750" border="0" cellpadding="0" cellspacing="0" align="center"  >
                <td>
                    <table width="375" border="0" cellpadding="0" cellspacing="0" align="left">
                    <tr>
                        <td><img src="images/logo-ldprestige-small-grey.png" alt="logo Ldprestige" title="logo ldprestige"></td>
                    </tr>
                    </table>
                    <table width="375" border="1" cellpadding="0" cellspacing="0" align="right" style="font-family:helvetica neue, helvetica, arial, sans-serif; font-size:14px" >
                    <tr>
                        <td>Facture N° F23123052 </td>
                        <td>Date : 12/12/2023</td>
                    </tr>
                    <tr>
                        <td>Client N° 1-001897 - Gaetan Krafft </td>
                    </tr>
                    <tr>
                        <td>Interlocuteur : GAETAN KRAFFT </td>
                    </tr>
                    </table>
                </td>
            </table>
		    <table width="750" height="20" border="0" cellpadding="0" cellspacing="0" align="center" >
            <tr>
            <td></td>
        </tr>
      </table>
      <table width="750" border="0" cellpadding="0" cellspacing="0" align="center" style="font-family:helvetica neue, helvetica, arial, sans-serif; font-size:14px" >
        <tr>
          <td><table width="375" border="0" cellpadding="0" cellspacing="0" align="left">
              <tr>
                <td style="font-weight: bold;">LS ENGINEERING</td>
              </tr>
              <tr>
                <td>NAUS ILLES BARTRA LOCAL 4A LA NAU1</td>
              </tr>
              <tr>
                <td>AVINGUDA DE LA BARTRA</td>
              </tr>
              <tr>
                <td>AD200 ENCAMP - ANDORRE</td>
              </tr>
              <tr>
                <td>Tél : 03 21 65 71 14 - Fax : 08 11 38 57 11</td>
              </tr>
              <tr>
                <td>E-Mail : contact@ldprestige.com</td>
              </tr>
            </table>
            <table width="375" border="0" cellpadding="0" cellspacing="0" align="right">
              <tr>
                <td style="font-weight: bold;">Gaetan Krafft</td>
              </tr>
              <tr>
                <td>35 rue Pierre Pflimlin</td>
              </tr>
              <tr>
                <td>68510 Sientz</td>
              </tr>
              <tr>
                <td>France</td>
              </tr>
            </table></td>
        </tr>
      </table>
      <table width="750" height="20" border="0" cellpadding="0" cellspacing="0" align="center" >
        <tr>
          <td></td>
        </tr>
      </table>
      <table width="750" height="50" border="0" cellpadding="0" cellspacing="0" align="center" style="background-color:grey; text-align:center; color:#fff; font-size:38px; font-family:helvetica neue, helvetica, arial, sans-serif; text-transform: uppercase; letter-spacing:10px;">
        <tr>
          <td>Facture</td>
        </tr>
      </table>
      <table width="750" height="20" border="0" cellpadding="0" cellspacing="0" align="center" style="font-family:helvetica neue, helvetica, arial, sans-serif; font-size:12px; margin:10px 0 10px;" >
        <tr height="10"></tr>
        <tr>
          <td width="100" border="0" cellpadding="0" cellspacing="0" style="font-weight: bold;">Réf. Affaire : </td>
			<td border="0" cellpadding="0" cellspacing="0">AC23120288</td>
        </tr>
        <tr border="0" cellpadding="0" cellspacing="0">
          <td width="100" border="0" cellpadding="0" cellspacing="0" style="font-weight: bold;">N° Commande : </td>
			<td  border="0" cellpadding="0" cellspacing="0">CC23120288</td>
        </tr>
        <tr border="0" cellpadding="0" cellspacing="0">
          <td width="100" border="0" cellpadding="0" cellspacing="0" style="font-weight: bold;">Réf. Commande : </td>
			<td  border="0" cellpadding="0" cellspacing="0">Commande136778</td>
        </tr>
        <tr border="0" cellpadding="0" cellspacing="0">
          <td width="100" border="0" cellpadding="0" cellspacing="0" style="font-weight: bold;">Réf. BL : </td>
			<td border="0" cellpadding="0" cellspacing="0" > LF23120305</td>
        </tr>
      </table>
      <table width="750" border="0" cellpadding="0" cellspacing="0" align="left" style="font-family:helvetica neue, helvetica, arial, sans-serif; font-size:12px; margin-bottom: 26px;">
        <thead align="center" >
          <tr height="80" >
            <th colspan="1" width="100" style="border: 1px solid;">Référence</th>
            <th colspan="1" style="border: 1px solid;">Désignation</th>
            <th colspan="1" width="80" style="border: 1px solid;">Quantité</th>
            <th colspan="1" width="80" style="border: 1px solid;">PU TTC</th>
            <th colspan="1" width="100" style="border: 1px solid;">Montant TTC</th>
          </tr>
        </thead>
        <tbody >
          <tr height="10" style="height:10px; vertical-align: center; background-color:#ddd; border: 1px solid #000;">
            <td style="height:100px; border-bottom:1px solid">J238950385</td>
            <td style="height:100px; border-bottom:1px solid">KESKIN.KT21 ELEGANT.75.17.5112.30.66.MBLK/LIP 4 107.00 428.00<br />
              <br />
              AUDI A4 AVANT - B9 - depuis 2015 - motorisation GH-216-TR, date
              07/2022##Site : LDP </td>
            <td style="text-align:center; height:100px; border-bottom:1px solid">4</td>
            <td style="text-align:center; height:100px; border-bottom:1px solid">107.00</td>
            <td style="text-align:center; height:100px; border-bottom:1px solid">428.00</td>
          </tr>
          <tr height="10" style="height:10px; vertical-align: center;">
            <td style="height:100px; border-bottom:1px solid">P1000039751</td>
            <td style="height:100px; border-bottom:1px solid">FALKEN.EUROWINTER HS02.225.50.17.98.V.D.B.71.XL.29<br />
              <br />
              AUDI A4 AVANT - B9 - depuis 2015 - motorisation GH-216-TR, date
              07/2022##Site : LDP </td>
            <td style="text-align:center; height:100px; border-bottom:1px solid">4</td>
            <td style="text-align:center; height:100px; border-bottom:1px solid">107.00</td>
            <td style="text-align:center; height:100px; border-bottom:1px solid">428.00</td>
          </tr>
        </tbody>
      </table>
		
      <table width="750" border="0" cellpadding="0" cellspacing="0" align="center" style="font-family:helvetica neue, helvetica, arial, sans-serif; font-size:14px; margin:10px 0 26px;" >
        <tr style="border:1px solid #000;">
          <td>
			  <table width="375" border="1" cellpadding="0" cellspacing="0" align="left">
				  <thead align="center" >
					<tr>
					  <td><strong>Base HT</strong></td>
					  <td><strong>Taux TVA</strong></td>
					  <td><strong>Montant TVA</strong></td>
					</tr>
				  </thead>
				  <tbody align="right">
					<tr>
					  <td>715.00</td>
					  <td>20.00%</td>
					  <td>143.00</td>
					</tr>
				  </tbody>
            	</table>
			</td>
          <td>
			<table width="375" border="0" cellpadding="0" cellspacing="0" align="right">
					<tr>
					  <td style="text-align:right; font-weight:bold">Total TTC :</td>
					  <td style="text-align:right; font-weight:bold">858.00 €</td>
					</tr>
				
				
					<tr>
					  <td style="text-align: right">dont TVA :</td>
					  <td style="text-align: right">143.00 €</td>
					</tr> 
            </table>
			</td>
        </tr>
      </table>
		<table width="750" border="0" cellpadding="0" cellspacing="0" align="left" style="font-family:helvetica neue, helvetica, arial, sans-serif; font-size:14px; margin-bottom: 26px;">
			<tr height="25">
				<td width="200" style="text-align:left;"><strong>Date d'échéance :</strong></td>
				<td style="text-align:left">12/12/2023</td>
			</tr>
			<tr height="25">
				<td width="200" style="text-align:left"><strong>Mode de réglement :</strong></td>
				<td style="text-align:left">hippay</td>
			</tr>
			<tr height="25">
				<td width="200" style="text-align:left"><strong>Statut du réglement :</strong></td>
				<td style="text-align:left">Facture acquitée</td>
			</tr>
		</table>
		
      <hr width="750">
		
      <table width="750" border="0" cellpadding="0" cellspacing="0" align="center">
        <tr style="border:1px solid #000;">
          <td><p style="border:1px solid #000; color:#000; font-family:Arial, Helvetica, sans-serif; font-size:14px; text-indent:0px; margin:0; text-align:left; text-decoration:none; text-align: left "><strong>RESERVE DE PROPRIETE :</strong> loi du 12/05/1980 N°80335 - Le matériel livré reste l'entière propriété de LS ENGINEERING jusqu'au paiement intégral du
              prix fixé ci-dessus.<br />
              <br />
            </p></td>
        </tr>
        <tr style="border:1px solid #000;">
          <td><p style="color:#000; font-family:Arial, Helvetica, sans-serif; font-size:14px; text-indent:0px; margin:0; text-align:left; text-decoration:none; text-align: center; ">LS ENGINEERING - SAS - immatriculée au RCS 927723-U - N° TVA : L-712895-K - Code NAF : -</p></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
